In [2]:
import numpy as np
import pandas as ps
import matplotlib as mp

In [4]:
donnees = ps.read_csv("Reviews.csv")

In [5]:
donnees.describe()

,Id,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time
count,568454.000000,568454.000000,568454.00000,568454.000000,5.684540e+05
mean,284227.500000,1.743817,2.22881,4.183199,1.296257e+09
std,164098.679298,7.636513,8.28974,1.310436,4.804331e+07
min,1.000000,0.000000,0.00000,1.000000,9.393408e+08
25%,142114.250000,0.000000,0.00000,4.000000,1.271290e+09
50%,284227.500000,0.000000,1.00000,5.000000,1.311120e+09
75%,426340.750000,2.000000,2.00000,5.000000,1.332720e+09
max,568454.000000,866.000000,923.00000,5.000000,1.351210e+09

Moyenne de score très haute avec peu de variance --> Est-ce que seuls les utilisateurs ayant eu une bonne expé notent les produits ou bien est-ce car il n'y a réellement que peu d'expériences négatives

In [6]:
donnees.columns

Index(['Id', 'ProductId', 'UserId', 'ProfileName', 'HelpfulnessNumerator',
       'HelpfulnessDenominator', 'Score', 'Time', 'Summary', 'Text'],
      dtype='object')

In [17]:
data_par_id = donnees.groupby("ProductId").count().sort_values("Score",ascending=False)
data_par_id

,Id,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
ProductId,,,,,,,,,
B007JFMH8M,913,913,913,913,913,913,913,913,913
B0026RQTGE,632,632,632,632,632,632,632,632,632
B002QWHJOU,632,632,632,632,632,632,632,632,632
B002QWP89S,632,632,632,632,632,632,632,632,632
B002QWP8H0,632,632,632,632,632,632,632,632,632
...,...,...,...,...,...,...,...,...,...
B000YPQC08,1,1,1,1,1,1,1,1,1
B003YU5T6I,1,1,1,1,1,1,1,1,1
B000YPQC44,1,1,1,1,1,1,1,1,1
B000YPQE6U,1,1,1,1,1,1,1,1,1
B009WVB40S,1,1,1,1,1,1,1,1,1

Au dessus, les produits les plus souvent notés
On va voir quels sont les score moyens pour les 5 plus souvent notés

In [83]:
data_par_id = data_par_id.head(5)

cols = data_par_id.index.values
cols


for i in cols:
    print("Numéro de produit : ",i)
    print("Moyenne du score pour cet item : ",donnees.where(donnees["ProductId"] == i)["Score"].mean())
    print("Ecart-type du score pour cet item : ",donnees.where(donnees["ProductId"] == i)["Score"].std())
    print("Critère helpfulness moyen",(donnees.where(donnees["ProductId"] == i)["HelpfulnessNumerator"]/donnees.where(donnees["ProductId"] == i)["HelpfulnessDenominator"]).mean())

Numéro de produit :  B007JFMH8M
Moyenne du score pour cet item :  4.5826944140197154
Ecart-type du score pour cet item :  0.7055595108853531
Critère helpfulness moyen 0.9010416666666666
Numéro de produit :  B0026RQTGE
Moyenne du score pour cet item :  4.5886075949367084
Ecart-type du score pour cet item :  0.967816480327533
Critère helpfulness moyen 0.7816837444601379
Numéro de produit :  B002QWHJOU
Moyenne du score pour cet item :  4.5886075949367084
Ecart-type du score pour cet item :  0.967816480327533
Critère helpfulness moyen 0.7816837444601379
Numéro de produit :  B002QWP89S
Moyenne du score pour cet item :  4.5886075949367084
Ecart-type du score pour cet item :  0.967816480327533
Critère helpfulness moyen 0.7816837444601379
Numéro de produit :  B002QWP8H0
Moyenne du score pour cet item :  4.5886075949367084
Ecart-type du score pour cet item :  0.967816480327533
Critère helpfulness moyen 0.7816837444601379

On ne sait pas si l'égalité entre les 4 derniers est normale, purement due au hasard, ou pas (même si ça n'a pas l'air probable, c'est pas impossible qu'avec le nombre important de données dans le dataset, les différences entre les valeurs moyennes ne puissent pas être visible par le biais d'un flottant)

Donc bien qu'on ait un numéro de produit différent, il semble que plusieurs de ces items soient en fait dupliqués, avec un id différent

In [74]:
type(donnees["ProductId"])

pandas.core.series.Series

0                  Good Quality Dog Food
1                      Not as Advertised
2                  "Delight" says it all
3                         Cough Medicine
4                            Great taffy
                       ...
568443                     Excellent Tea
568444    Best Value for Chinese 5 Spice
568450                      disappointed
568451          Perfect for our maltipoo
568453                       Great Honey
Name: Summary, Length: 74258, dtype: object