In [2]:
import numpy as np
import pandas as ps
import matplotlib as mp

In [27]:
donnees = ps.read_csv("Reviews.csv")
donnees = donnees.drop_duplicates(subset={"ProductId","UserId","ProfileName"})

In [28]:
donnees.describe()

,Id,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time
count,560808.00000,560808.000000,560808.000000,560808.000000,5.608080e+05
mean,284312.54404,1.743121,2.225291,4.183079,1.296553e+09
std,164097.91590,7.666340,8.315820,1.310527,4.796648e+07
min,1.00000,0.000000,0.000000,1.000000,9.393408e+08
25%,142241.75000,0.000000,0.000000,4.000000,1.271894e+09
50%,284317.50000,0.000000,1.000000,5.000000,1.311466e+09
75%,426470.25000,2.000000,2.000000,5.000000,1.332893e+09
max,568454.00000,866.000000,923.000000,5.000000,1.351210e+09

Moyenne de score très haute avec peu de variance --> Est-ce que seuls les utilisateurs ayant eu une bonne expé notent les produits ou bien est-ce car il n'y a réellement que peu d'expériences négatives

In [6]:
donnees.columns

Index(['Id', 'ProductId', 'UserId', 'ProfileName', 'HelpfulnessNumerator',
       'HelpfulnessDenominator', 'Score', 'Time', 'Summary', 'Text'],
      dtype='object')

In [29]:
data_par_id = donnees.groupby("ProductId").count().sort_values("Score",ascending=False)
data_par_id

,Id,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
ProductId,,,,,,,,,
B007JFMH8M,913,913,913,913,913,913,913,913,913
B003B3OOPA,623,623,623,623,623,623,623,623,623
B002QWP8H0,609,609,609,609,609,609,609,609,609
B002QWP89S,609,609,609,609,609,609,609,609,609
B002QWHJOU,609,609,609,609,609,609,609,609,609
...,...,...,...,...,...,...,...,...,...
B003YQBC0E,1,1,1,1,1,1,1,1,1
B003YQ3JBO,1,1,1,1,1,1,1,1,1
B003YQ3ED2,1,1,1,1,1,1,1,1,1
B000YPO6II,1,1,1,1,1,1,1,1,1
B009WVB40S,1,1,1,1,1,1,1,1,1

Au dessus, les produits les plus souvent notés
On va voir quels sont les score moyens pour les 5 plus souvent notés

In [30]:
data_par_id = data_par_id.head(5)

cols = data_par_id.index.values
cols


for i in cols:
    print("Numéro de produit : ",i)
    print("Moyenne du score pour cet item : ",donnees.where(donnees["ProductId"] == i)["Score"].mean())
    print("Ecart-type du score pour cet item : ",donnees.where(donnees["ProductId"] == i)["Score"].std())
    print("Critère helpfulness moyen",(donnees.where(donnees["ProductId"] == i)["HelpfulnessNumerator"]/donnees.where(donnees["ProductId"] == i)["HelpfulnessDenominator"]).mean())

Numéro de produit :  B007JFMH8M
Moyenne du score pour cet item :  4.5826944140197154
Ecart-type du score pour cet item :  0.7055595108853531
Critère helpfulness moyen 0.9010416666666666
Numéro de produit :  B003B3OOPA
Moyenne du score pour cet item :  4.739967897271268
Ecart-type du score pour cet item :  0.6683891459432163
Critère helpfulness moyen 0.8782740957320783
Numéro de produit :  B002QWP8H0
Moyenne du score pour cet item :  4.584564860426929
Ecart-type du score pour cet item :  0.9664562485740971
Critère helpfulness moyen 0.7784390056269347
Numéro de produit :  B002QWP89S
Moyenne du score pour cet item :  4.584564860426929
Ecart-type du score pour cet item :  0.9664562485740971
Critère helpfulness moyen 0.7784390056269347
Numéro de produit :  B002QWHJOU
Moyenne du score pour cet item :  4.584564860426929
Ecart-type du score pour cet item :  0.9664562485740971
Critère helpfulness moyen 0.7784390056269347

On ne sait pas si l'égalité entre les 3 derniers est normale, purement due au hasard, ou pas (même si ça n'a pas l'air probable, c'est pas impossible qu'avec le nombre important de données dans le dataset, les différences entre les valeurs moyennes ne puissent pas être visible par le biais d'un flottant)

Donc bien qu'on ait un numéro de produit différent, il semble que plusieurs des entrées du jeu de données soient en fait dupliquées,e

pandas.core.series.Series